<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="javeriana.edu.co.homenet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroGeneralActivity" />
        <activity android:name=".GuiaPrincipalActivity" />
        <activity android:name=".GuiaHistorialServiciosActivity" />
        <activity android:name=".GuiaCrearAnuncioActivity" />
        <activity android:name=".GuiaEditarAnuncioActivity" />
        <activity android:name=".GuiaSolicitudesServiciosActivity" />
        <activity android:name=".GuiaVerHuespedActivity" />
        <activity android:name=".GuiaCalificarHuespedActivity" />
        <activity android:name=".MenuAnfitrion" />
        <activity android:name=".CrearPerfilGuiaAnf" />
        <activity android:name=".CrearPerfilHuesped" />
        <activity android:name=".GuiasDisponiblesActivity" />
        <activity android:name=".VerInfoGuiaActivity" />
        <activity android:name=".VerMasTourActivity" />
        <activity android:name=".SolicitudesAceptadasDelGuiaActivity" />
        <activity android:name=".VerRutaActivity" />
        <activity android:name=".CalificarAlojamientoActivity" />
        <activity android:name=".ConsultarAlojamientoActivity" />
        <activity android:name=".ConsultarDisponibilidadActivity" />
        <activity android:name=".InformacionAlojamientoActivity" />
        <activity android:name=".VerComentariosActivity" />
        <activity android:name=".HistorialReservaActivity" />
        <activity android:name=".DetallesHistorialReservaActivity" />
        <activity android:name=".CalificarGuiaActivity" />
        <activity android:name=".PublicarAlojamiento" />
        <activity android:name=".ReservarAlojamientoActivity"></activity>
    </application>

</manifest>