<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="javeriana.edu.co.homenet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroGeneralActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".GuiaPrincipalActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".GuiaHistorialServiciosActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".GuiaCrearAnuncioActivity" android:screenOrientation="portrait" />
        <activity android:name=".GuiaEditarAnuncioActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".GuiaSolicitudesServiciosActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".GuiaVerHuespedActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".GuiaCalificarHuespedActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".MenuAnfitrionActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".CrearPerfilGuiaAnfActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".CrearPerfilHuespedActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".GuiasDisponiblesActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".VerInfoGuiaActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".VerMasTourActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".SolicitudesAceptadasDelGuiaActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".VerRutaActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".CalificarAlojamientoActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".ConsultarAlojamientoActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".ConsultarDisponibilidadActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".InformacionAlojamientoActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".VerComentariosActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".HistorialReservaActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".DetallesHistorialReservaActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".CalificarGuiaActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".PublicarAlojamientoAnfActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".ReservarAlojamientoActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".VerTourActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".DetalleAlojamientoAnfActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".DetalleReservaAnfActivity" android:screenOrientation="portrait"/>
        <activity android:name=".GuiaDetalleTourActivity" android:screenOrientation="portrait"/>
        <activity android:name=".HistorialReservasAnfActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MenuHuespedActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".HistorialRecorridosActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>